*,*::after, *::before { box-sizing: border-box; }

body{
    font-family: 'Archivo', sans-serif;
    padding:0;
}

body.bg-gray {
    background-color: #ededed;
}

header .navbar-light .navbar-nav .nav-link{
    color: #00386d !important;
    font-family: 'Archivo', sans-serif;
    font-weight:bold;
    text-transform: uppercase;
    border-bottom: transparent 2px solid;
    font-size: 14px;
    margin-bottom: -5px;
}

header .navbar-light .navbar-nav .nav-link:hover, 
header .navbar-light .navbar-nav .nav-link:focus{
    color: #3db9b9;
    border-bottom-color: #3db9b9;
    text-decoration: none;
}
header nav ul li{
    list-style-type: none;
    
}

header .bg-light { 
    background: white !important;
}

.slick-slider:not(.slide-comentarios) .slick-slide {
    height: calc(100vh - 90px);
}
.slick-slider:not(.slide-comentarios) .slick-slide img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.slick-dots{
    bottom: 35px !important;
} 

.slick-dots li {
    margin: 0 2px;
}

.slick-dots li button:before{
    color: white !important;
    font-size: 10px !important;
}

.slick-next {
    z-index: 10;
    right: 40px;
}

.slick-prev {
    z-index: 10;
    left: 30px;
}

.slick-next:before {
    content: "";
    font-size: 0;
    line-height: 0;
    display: block;
    width: 30px;
    height: 30px;
    background: url(../img/slide-r.png) center center / contain no-repeat;
}

.slick-prev:before {
    content: "";
    font-size: 0;
    line-height: 0;
    display: block;
    width: 30px;
    height: 30px;
    background: url(../img/slide-l.png) center center / contain no-repeat;
}

.slide-comentarios .slick-next {
    right: -50px;
}

.slide-comentarios .slick-prev {
    left: -80px;
}

.slide-comentarios .slick-next:before {
    content: "";
    font-size: 0;
    line-height: 0;
    display: block;
    width: 50px;
    height: 50px;
    background: url(../img/testimonio-r.png) center center / contain no-repeat;
}

.slide-comentarios .slick-prev:before {
    content: "";
    font-size: 0;
    line-height: 0;
    display: block;
    width: 50px;
    height: 50px;
    background: url(../img/testimonio-l.png) center center / contain no-repeat;
}

.navbar-brand {
    max-width: 260px;
}

.parrafoMed{
    font-family: 'Archivo', sans-serif;
    font-weight:500 !important;
    color: #787878;
}

h1{
    font-weight: bold;
    font-size: 1.5rem;
    color: #00386d;
}

h2{
    font-size: 3.5rem;
}

#quienSoy {
    padding-top: 82px;
    padding-bottom: 114px;
}

#comoEmpezar{
    padding-top: 130px;
    padding-bottom: 130px;
    background-color:#3db9b9;
}

#comoEmpezar h2 {
    margin-bottom: 50px;
}

#comoEmpezar .line {
    display: block;
    width: 40px;
    height: 3px;
    background-color: white;
    margin-left: 24px;
    margin-bottom: 20px;
}

#comoEmpezar h2, #cursos h2, #testimonios h2, #contacto h2, #testimonios h3, .testimonio p.job{
    font-weight:600;
    color: #00386d;
}

#cursos {
    margin-top: 130px;
}

#cursos h2 {
    margin-bottom: 50px;
}

#comoEmpezar a, .btn-contacto{
    background-color:#00386d !important;
    color: white !important;
    font-weight: 600;
    width: 150px;
    height: 60px;
    border: 0;
    line-height: 52px;
    font-size: 20px !important;
}

.pasos h3{
    color: #00386d;
    font-weight: bold;
    font-size: 24px;
    position: relative;
    display: flex;
    align-items:center;
    z-index: 2;
}

.pasos h3::after {
    content: attr(data-number);
    display: block;
    font-size: 150px;
    position: absolute;
    left: -10px;
    color: rgba(255, 255, 255, 0.3);
    z-index: -1;
    margin-bottom: 30px;
}

.pasos p{
    color: white;
    font-size: 1rem;
}

.card{
    height: 430px;
}

.card-title{
    font-weight: bold;
    color: #00386d;
}

.card-text{
    color: #787878;
}

#preguntas{
    background-image: url("../img/fondo-azul.jpg");
    margin-top: -160px;
    padding-top: 220px;
    padding-bottom: 130px;
    line-height: 26px;
}

#preguntas div h2{
    font-weight:600;
    color: white;
    font-size: 2.2rem;
    margin-left: 15px;
    margin-bottom: 50px;
}

#preguntas div h3{
    color: #3db9b9;
    font-weight:bold;
    font-size: 20px;
}

#preguntas .container{
    padding-left: 0 !important;
}

#preguntas .container p, #preguntas .container ul li {
    color: white;
    font-size: 16px;
}

#preguntas .container ul{
    padding-left: 20px;
}

#preguntas .container img{
    width: 45px;
}

#preguntas .container .col-1{
    padding-left: 0 !important;
}
.gap{
    gap: 25px;
}

#testimonios{
    background-color:#3db9b9;
    padding-top: 130px;
    padding-bottom: 200px;
}

#testimonios img{
    margin-top: -140px;
    opacity: 0.4;
    
}

#testimonios h2{
    z-index: 2;  
}

.testimonio{
    background-color: white;
    height: 450px;
    text-align: center;
}

.testimonio img{
    width: 90px;
    opacity: 1 !important;
    margin: 40px 0 20px 0 !important;
}

#testimonios .slick-slider{
    width:70%;
    margin-top: -20px;
}
.testimonio p{
    font-weight: 600;
    font-size: 1.2rem;
    color: #787878;
}

#testimonios .slick-dots{
    bottom: -90px !important;
}

#contacto, footer{
    background-color: #ededed;
}

#contacto{
    padding: 130px 0 ;
}

#contacto p{
    font-weight: 600;
    color: #787878;
    font-size:20px;
    margin-bottom: 20px;
}

form{
    margin-top: 40px;
}

form input, form textarea{
    color: #787878 !important;
    font-size: 14px !important;
    border-radius: 0 !important;
}

form textarea {
    padding: 24px !important;
}

form input {
    height: 60px !important;
    padding: 0 24px !important;
}

.btn-contacto{
    margin-top: 40px;
}

input::-webkit-input-placeholder, 
textarea::-webkit-input-placeholder { /* Edge */
    color: #999999 !important;
}

input:-ms-input-placeholder, 
textarea:-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: #999999 !important;
}

input::placeholder, 
textarea::placeholder {
    color: #999999 !important;
}


footer p{
    font-weight: 500;
    color: #787878;
    font-size: 12px;
}

.arrow img{
    width:60px;
    position: fixed;
    bottom: 10px;
    right: 20px;
}

footer nav ul{
    margin-bottom: 0!important;
}

footer nav ul li{
    list-style-type: none;
    margin-left: 15px;
}
footer nav ul li a img{
    width: 20px;
}

footer .container{
    border-top: 1px solid #787878 !important;
}

@media (max-width: 1024px) { 
    .navbar-brand {
        max-width:200px;
    }
    header .navbar-light .navbar-nav .nav-link {
        font-size: 14px;
    }
}

@media (max-width: 576px) { 

    .slick-slider:not(.slide-comentarios) .slick-slide {
        height: auto;
    }

    .navbar-brand {
        width:70%;
    }

    .slide-comentarios .slick-next,
    .slide-comentarios .slick-prev {
        display: none !important;
    }

    .hello {
        height: 80px;
    }

    #testimonios .slick-slider {
        width: 90%;
        margin-top: -10px;
    }

    .testimonio p {
        font-size: 0.8rem;
    }

    #testimonios img {
        margin-top: -70px;
    }

    #testimonios {
        padding-top: 80px;
        padding-bottom: 110px;
    }

    #comoEmpezar h2, #cursos h2, #testimonios h2, #contacto h2 {
        font-size: 2.4rem;
    }

    .arrow {
        display: none;
    }

    #preguntas div h2{
        font-size:2rem;
        text-align: center;
    }

    #contacto {
    padding: 60px 0;
    }

    #contacto h2{
        margin-bottom: 40px;
    }

    #preguntas{
        padding-bottom: 60px;
    }

    .pasos {
        margin-bottom: 50px;
    }

    .pasos h3 {
        padding-left: 50px !important;
        margin-left: 20px;
    }

    .pasos h3::after {
        font-size: 80px;
        left: 0px;
        margin-bottom: 10px;
    }

    footer p {
        font-size: 12px;
    }

    .slick-next {
        right: 10px;
    }

    .slick-prev {
        left: 10px;
    }

    .slick-next:before {
        width: 20px;
        height: 20px;
    }

    .slick-prev:before {
        width: 20px;
        height: 20px;
    }

    .slick-slider:not(.slide-comentarios) .slick-dots {
        display: none !important;
    }
}